#startBtn {
    -fx-background-color: #3680c1;
}

#removeFileBtn {
    -fx-background-color: #ff5647;
    -fx-shape: "M 405.6 69.6 C 360.7 24.7 301.1 0 237.6 0 s -123.1 24.7 -168 69.6 S 0 174.1 0 237.6 s 24.7 123.1 69.6 168 s 104.5 69.6 168 69.6 s 123.1 -24.7 168 -69.6 s 69.6 -104.5 69.6 -168 S 450.5 114.5 405.6 69.6 Z M 386.5 386.5 c -39.8 39.8 -92.7 61.7 -148.9 61.7 s -109.1 -21.9 -148.9 -61.7 c -82.1 -82.1 -82.1 -215.7 0 -297.8 C 128.5 48.9 181.4 27 237.6 27 s 109.1 21.9 148.9 61.7 C 468.6 170.8 468.6 304.4 386.5 386.5 Z M 342.3 132.9 c -5.3 -5.3 -13.8 -5.3 -19.1 0 l -85.6 85.6 L 152 132.9 c -5.3 -5.3 -13.8 -5.3 -19.1 0 c -5.3 5.3 -5.3 13.8 0 19.1 l 85.6 85.6 l -85.6 85.6 c -5.3 5.3 -5.3 13.8 0 19.1 c 2.6 2.6 6.1 4 9.5 4 s 6.9 -1.3 9.5 -4 l 85.6 -85.6 l 85.6 85.6 c 2.6 2.6 6.1 4 9.5 4 c 3.5 0 6.9 -1.3 9.5 -4 c 5.3 -5.3 5.3 -13.8 0 -19.1 l -85.4 -85.6 l 85.6 -85.6 C 347.6 146.7 347.6 138.2 342.3 132.9 Z";
}

#settingBtn {
    -fx-background-color: #169678;
}

#reloadBtn {
    -fx-font-family: flaticon;
    -fx-background-color: #3680c1;
    -fx-shape: "M 112.156 97.111 c 72.3 -65.4 180.5 -66.4 253.8 -6.7 l -58.1 2.2 c -7.5 0.3 -13.3 6.5 -13 14 c 0.3 7.3 6.3 13 13.5 13 c 0.2 0 0.3 0 0.5 0 l 89.2 -3.3 c 7.3 -0.3 13 -6.2 13 -13.5 v -1 c 0 -0.2 0 -0.3 0 -0.5 v -0.1 l 0 0 l -3.3 -88.2 c -0.3 -7.5 -6.6 -13.3 -14 -13 c -7.5 0.3 -13.3 6.5 -13 14 l 2.1 55.3 c -36.3 -29.7 -81 -46.9 -128.8 -49.3 c -59.2 -3 -116.1 17.3 -160 57.1 c -60.4 54.7 -86 137.9 -66.8 217.1 c 1.5 6.2 7 10.3 13.1 10.3 c 1.1 0 2.1 -0.1 3.2 -0.4 c 7.2 -1.8 11.7 -9.1 9.9 -16.3 C 36.656 218.211 59.056 145.111 112.156 97.111 Z M 462.456 195.511 c -1.8 -7.2 -9.1 -11.7 -16.3 -9.9 c -7.2 1.8 -11.7 9.1 -9.9 16.3 c 16.9 69.6 -5.6 142.7 -58.7 190.7 c -37.3 33.7 -84.1 50.3 -130.7 50.3 c -44.5 0 -88.9 -15.1 -124.7 -44.9 l 58.8 -5.3 c 7.4 -0.7 12.9 -7.2 12.2 -14.7 s -7.2 -12.9 -14.7 -12.2 l -88.9 8 c -7.4 0.7 -12.9 7.2 -12.2 14.7 l 8 88.9 c 0.6 7 6.5 12.3 13.4 12.3 c 0.4 0 0.8 0 1.2 -0.1 c 7.4 -0.7 12.9 -7.2 12.2 -14.7 l -4.8 -54.1 c 36.3 29.4 80.8 46.5 128.3 48.9 c 3.8 0.2 7.6 0.3 11.3 0.3 c 55.1 0 107.5 -20.2 148.7 -57.4 C 456.056 357.911 481.656 274.811 462.456 195.511 Z";
}

#openDirBtn {
    -fx-background-color: #f4c842;
    -fx-shape: "M 403.9 97.85 h -114 c -27.7 0 -50.3 -22.5 -50.3 -50.3 c 0 -7.5 -6 -13.5 -13.5 -13.5 H 77.3 c -42.6 0 -77.3 34.7 -77.3 77.3 v 258.5 c 0 42.6 34.7 77.3 77.3 77.3 h 326.6 c 42.6 0 77.3 -34.7 77.3 -77.3 v -194.8 C 481.2 132.45 446.5 97.85 403.9 97.85 Z M 454.2 369.75 c 0 27.7 -22.5 50.3 -50.3 50.3 H 77.3 c -27.7 0 -50.3 -22.5 -50.3 -50.3 v -258.4 c 0 -27.7 22.5 -50.3 50.3 -50.3 h 136.5 c 6.4 36.2 38.1 63.8 76.1 63.8 h 114 c 27.7 0 50.3 22.5 50.3 50.3 L 454.2 369.75 L 454.2 369.75 Z";
}

#chooseDirBtn, #falsePositivesGaloreBtn, #zipMaliciousPluginsBtn {
    -fx-background-color: #36c1b7;
    -fx-text-fill: #fff;
}

.btn-disable {
    -fx-background-color: #f44242 !important;
    -fx-opacity: 1 !important;
}

#settingCancelBtn {
    -fx-background-color: #fff;
    -fx-border-color: #ddd;
}

#settingSaveBtn {
    -fx-background-color: #3680c1;
    -fx-text-fill: #fff;
}
